.container {
	display: flex;
	border-radius: 10px;
	height: calc(100%);
	overflow-x: auto;
}

.titulo {
	display: flex;
	padding: 0px;
	margin: -15px 10px -15px 10px;
	justify-content: space-between;
}
