.container {
	background-color: rgba(0, 132, 255, 0.781);
	display: flex;
	overflow-y: auto;
	height: 100%;
}

.lista {
	list-style-type: none;
}

.sublista {
	max-height: 500px;
	overflow-y: auto;
}

.item_lista {
	overflow-y: auto;
	margin: 5px;
	padding: 10px;
}
